/*
Lab Name: Lab 1 - Web Page - HTML and CSS
Name: malisad
Course: 2840
Section: 031
 */

img {
    filter: grayscale(100%);
}

body {
    background-color: white;
    font-family: "Californian FB", serif;
    text-align: center;
    color: black;
}

table {
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

th {
    background-color: white;
    color: black;
}

td {
    border: 1px ridge black;
    border-radius: 10px;
}

.firstColumn {
    width: 10%
}

.secondColumn {
    width: 18%
}
